<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{{ title | uppercase }}</title>
    </head>
    <body>
        {{ content.name }}
    </body>
</html>
