<!DOCTYPE html>
<html>
    <head>
        {* this is a comment *}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{{ title | uppercase }}</title>
    </head>
    <body>
        {{ user.name }} ({{ user.age }})
    </body>
</html>
