<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{{ title | uppercase }}</title>
    </head>
    <body>
        {* this is a comment *}
        {# foreach user in users #}
        <div>{{ user.age }} </div>
        {# endforeach #}
    </body>
</html>

