<!DOCTYPE html>
<html>
    <head>
        <title>WEBC - Anmeldung</title>
    </head>
    <body>
        <form method="post" action="/auth/login">
            <input type="text"     name="user_name"     value="{{ user_name }}">
            <input type="password" name="user_password" value="{{ user_password }}">
            <input type="submit" value="anmelden">
        </form>
    </body>
</html>

